USE [BikeWeb]
GO
/****** Object:  Table [dbo].[Bike]    Script Date: 3/26/2017 5:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bike](
	[BikeID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[BikeName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [money] NULL,
	[Brand] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[Images] [varbinary](max) NULL,
 CONSTRAINT [PK_Bike] PRIMARY KEY CLUSTERED 
(
	[BikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/26/2017 5:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/26/2017 5:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderTotal] [money] NULL,
	[OrderQuantity] [int] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/26/2017 5:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailPrice] [money] NULL,
	[OrderDetailQuantity] [int] NULL,
	[OrderDetailTotal] [money] NULL,
	[BikeID] [int] NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 3/26/2017 5:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](max) NULL,
	[UserPassword] [varchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [varchar](max) NULL,
	[Phone] [varchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bike] ON 

SET IDENTITY_INSERT [dbo].[Bike] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'City')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (3, N'Sport Bike')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [OrderTotal], [OrderQuantity], [UserID]) VALUES (1, 16000000.0000, NULL, 1)
INSERT [dbo].[Order] ([OrderID], [OrderTotal], [OrderQuantity], [UserID]) VALUES (2, 16000000.0000, NULL, 2)
INSERT [dbo].[Order] ([OrderID], [OrderTotal], [OrderQuantity], [UserID]) VALUES (3, 32.0000, NULL, 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderDetailPrice], [OrderDetailQuantity], [OrderDetailTotal], [BikeID], [OrderID]) VALUES (1, 16000000.0000, 1, 16000000.0000, 27, 1)
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderDetailPrice], [OrderDetailQuantity], [OrderDetailTotal], [BikeID], [OrderID]) VALUES (2, 16000000.0000, 1, 16000000.0000, 27, 2)
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderDetailPrice], [OrderDetailQuantity], [OrderDetailTotal], [BikeID], [OrderID]) VALUES (3, 32.0000, 1, 32.0000, 23, 3)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (1, NULL, NULL, N'Nguyen Duong', N'Thieu Lam', N'fuckthisshit@yahoo.com', N'0937675688', N'Vu Huy Tan')
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (2, NULL, NULL, N'LuLu', N'', N'', N'', N'')
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (3, NULL, NULL, N'LuLu', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Bike]  WITH CHECK ADD  CONSTRAINT [FK_Bike_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bike] CHECK CONSTRAINT [FK_Bike_Category]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Bike] FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bike] ([BikeID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Bike]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
